.logo {
    font-family: $secondary-font;
    @include font(26px, 700, 31px, null);
    color: $accent-color;
}
.logo__dark {
    color: $dark-color;
}
.logo__light {
    color: $secondary-text-color;
}
// .page-header__logo {
//     margin-right: 93px;
// }
