.page-footer {
    background-color: #2f303a;
    color: $secondary-text-color;
    @include desk {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.container__page-footer {
    text-align: center;
    @include desk {
        display: flex;
        align-items: baseline;
        text-align: left;
    }
}
.page-footer__wrap {
    @include tab {
        display: flex;

        @media screen and (min-width: 480px) and (max-width: 1199px) {
            justify-content: space-around;
            margin-bottom: 60px;
        }
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @include tab {
        flex-grow: 1;
        align-items: baseline;
    }

    @include desk {
        justify-content: center;
        margin-right: 93px;
    }
}

.footer-nav {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @include desk {
        margin-right: 70px;
    }
}

// .address {
//     margin-top: 20px;
//     font-style: normal;
// }

.address__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}
.address__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color $animation-duration $animation-timing-function;
    &:hover,
    &:focus,
    &:active {
        color: $accent-color;
    }
}
.address__link--white {
    color: $secondary-text-color;
}

.page-footer__text {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    @include desk {
        text-align: left;
    }
}
